{"openapi":"3.0.1","info":{"title":"Primetime Ad Insertion APIs","description":"\n \n \tThe endpoints described here are routed through Adobe.io.\n\tIn order to use these endpoints you must create a service account that is subscribed to access the Adobe Primetime Ad Insertion API.\n **Primetime Ad Insertion service** enables customers to create and manage Ad Rules(Ad Config) in a self-service mode. \n \nYou can generate the Authorization token (also known as access token) by following the steps detailed out in Adobe.io JWT authentication [help-page](https://www.adobe.io/developer-console/docs/guides/authentication/JWT/#authentication-workflow)\n \nTo set the correct values in the request header and to generate Authorization token (using JWT authentication) you will need to know the below configurations for your [Adobe IO account](https://www.adobe.io/developer-console). \n Please get in touch with Primetime Support team to get these values. \n - Technical account id \n - Org id \n - Api_key \n - Client_secret \n \n **API Rate Limiting** \n - 5 API requests are allowed during a 5 second window for each user. \n - If a user crosses above limit, response is delayed by 5 seconds. \n - If a user makes more than 10 calls within 5 second window, they will start getting rejected with response “429 Too many requests”.","contact":{"name":"Primetime Team","email":"support@adobeprimetime.zendesk.com"},"version":"v1.0"},"servers":[{"url":"https://dai-primetime.adobe.io"}],"security":[{"BearerToken":[]}],"tags":[{"name":"Account API","description":"The Account API used to fetch account details"},{"name":"Report API","description":"The Report API used to fetch reporting data"},{"name":"User API","description":"The User API used to fetch/update User details and offerings"},{"name":"Ad Rules API","description":"The Ad Rules API used to create/update Ad Rules"},{"name":"Targeting Param API","description":"The Targeting param API used to interact with Account Targeting parameters"},{"name":"Zone API","description":"The Zone API used to create/update Zones"},{"name":"History API","description":"Retrieves change log for different entities"}],"paths":{"/zones/{id}":{"get":{"tags":["Zone API"],"summary":"Retrieves a zone by zone-id","operationId":"getZoneByID","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"x-gw-ims-org-id","in":"header","description":"Header containing IMS Org Id","required":true,"allowEmptyValue":false,"schema":{"default":"sample@AdobeOrg"}},{"name":"x-api-key","in":"header","description":"Header containing Api Key used for authentication/authorization.","required":true,"allowEmptyValue":false,"schema":{"default":"sample_key"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"example":{"id":1000000,"zoneId":1000000,"accountId":12345,"name":"ZONE_NAME","description":"DESCRIPTION","state":"ACTIVE","_links":{"self":{"href":"<requestUrl>/zones/1000000"},"zones":{"href":"<requestUrl>/zones{?page,size,sort}","templated":true}}}}}}}}},"/configs/{id}":{"get":{"tags":["Ad Rules API"],"summary":"Retrieves a config by config-id","operationId":"getConfig","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"x-gw-ims-org-id","in":"header","description":"Header containing IMS Org Id","required":true,"allowEmptyValue":false,"schema":{"default":"sample@AdobeOrg"}},{"name":"x-api-key","in":"header","description":"Header containing Api Key used for authentication/authorization.","required":true,"allowEmptyValue":false,"schema":{"default":"sample_key"}}],"responses":{"200":{"description":"200","content":{"application/json":{"example":{"id":1000000,"adConfigId":1000000,"userId":45678,"name":"testConfig","legacyId":1,"state":"ACTIVE","adTargetingZones":[786],"responseTemplateId":1,"outputParams":{"redirectUrl":"http://redirectUrl","redirectProvider":"VAST","key":"value"},"adTargetingParams":[{"paramKey":"os","paramValue":"linux"},{"paramKey":"browser","paramValue":"chrome"}],"remarks":"remarks","isPreroll":true,"isMidroll":false,"isPostroll":false,"_links":{"self":{"href":"<requestUrl>/configs/1000000"},"configs":{"href":"<requestUrl>/configs{?page,size,sort}","templated":true}}}}}}}},"put":{"tags":["Ad Rules API"],"summary":"Updates a config by config-id","operationId":"updateConfig","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"x-gw-ims-org-id","in":"header","description":"Header containing IMS Org Id","required":true,"allowEmptyValue":false,"schema":{"default":"sample@AdobeOrg"}},{"name":"x-api-key","in":"header","description":"Header containing Api Key used for authentication/authorization.","required":true,"allowEmptyValue":false,"schema":{"default":"sample_key"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfigRequestDto"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"example":{"id":1000000,"adConfigId":1000000,"userId":45678,"name":"testConfig","legacyId":1,"state":"ACTIVE","adTargetingZones":[786],"responseTemplateId":1,"outputParams":{"redirectUrl":"http://redirectUrl","redirectProvider":"VAST","key":"value"},"adTargetingParams":[{"paramKey":"os","paramValue":"linux"},{"paramKey":"browser","paramValue":"chrome"}],"remarks":"remarks","isPreroll":true,"isMidroll":false,"isPostroll":false,"_links":{"self":{"href":"<requestUrl>/configs/1000000"},"configs":{"href":"<requestUrl>/configs{?page,size,sort}","templated":true}}}}}}}}},"/zones":{"get":{"tags":["Zone API"],"summary":"Retrieves all zones","operationId":"getZones","parameters":[{"name":"Query Params","in":"query","description":"Add any of the Query Params in request in key-value format | Supported Keys :\n\n `zones` - Comma separated list of zones \n\n{ \"zones\": \"789,790\" }","required":true,"schema":{"type":"object"}},{"name":"page","in":"query","description":"Zero-based page index (0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","schema":{"type":"integer","default":20}},{"name":"x-gw-ims-org-id","in":"header","description":"Header containing IMS Org Id","required":true,"allowEmptyValue":false,"schema":{"default":"sample@AdobeOrg"}},{"name":"x-api-key","in":"header","description":"Header containing Api Key used for authentication/authorization.","required":true,"allowEmptyValue":false,"schema":{"default":"sample_key"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"example":{"_embedded":{"zones":[{"id":786,"zoneId":786,"accountId":12345,"name":"Europe","description":"East","state":"INACTIVE","_links":{"self":{"href":"<requestUrl>/zones/786"},"zones":{"href":"<requestUrl>/zones{?page,size,sort}","templated":true}}},{"id":787,"zoneId":787,"accountId":12345,"name":"Europe","description":"West","state":"INACTIVE","_links":{"self":{"href":"<requestUrl>/zones/787"},"zones":{"href":"<requestUrl>/zones{?page,size,sort}","templated":true}}}]},"_links":{"zones":{"href":"<requestUrl>/zones{?page,size,sort}","templated":true}},"page":{"size":20,"totalElements":2,"totalPages":1,"number":0}}}}}}}},"/configs":{"get":{"tags":["Ad Rules API"],"summary":"Retrieves all configs in a paginated way","operationId":"getConfigs","parameters":[{"name":"Query Params","in":"query","description":"Add any of the Query Params in request in key-value format | Supported Keys :\n\n `zones` - Comma separated list of zones \n\n{ \"zones\": \"789,790\" }","required":true,"schema":{"type":"object"}},{"name":"page","in":"query","description":"Zero-based page index (0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","schema":{"type":"integer","default":20}},{"name":"x-gw-ims-org-id","in":"header","description":"Header containing IMS Org Id","required":true,"allowEmptyValue":false,"schema":{"default":"sample@AdobeOrg"}},{"name":"x-api-key","in":"header","description":"Header containing Api Key used for authentication/authorization.","required":true,"allowEmptyValue":false,"schema":{"default":"sample_key"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"example":{"_embedded":{"configs":[{"id":2298,"adConfigId":2298,"userId":45838,"name":"rulename","legacyId":null,"state":"ACTIVE","adTargetingZones":[786],"responseTemplateId":2,"outputParams":{"redirectUrl":"http://abc.com","redirectProvider":"VAST"},"adTargetingParams":[{"paramKey":"stream","paramValue":"vod"},{"paramKey":"os","paramValue":"iOS"},{"paramKey":"device","paramValue":"android"},{"paramKey":"browser","paramValue":"chrome"}],"remarks":"d","isPreroll":true,"isMidroll":false,"isPostroll":false,"_links":{"self":{"href":"<requestUrl>/configs/2298"},"configs":{"href":"<requestUrl>/configs{?page,size,sort}","templated":true}}}]},"_links":{"configs":{"href":"<requestUrl>/configs{?page,size,sort}","templated":true}},"page":{"size":20,"totalElements":1,"totalPages":1,"number":0}}}}}}},"post":{"tags":["Ad Rules API"],"summary":"creates a config","operationId":"createConfig","parameters":[{"name":"x-gw-ims-org-id","in":"header","description":"Header containing IMS Org Id","required":true,"allowEmptyValue":false,"schema":{"default":"sample@AdobeOrg"}},{"name":"x-api-key","in":"header","description":"Header containing Api Key used for authentication/authorization.","required":true,"allowEmptyValue":false,"schema":{"default":"sample_key"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfigRequestDto"}}},"required":true},"responses":{"200":{"description":"Success","content":{"application/json":{"example":{"id":1000000,"adConfigId":1000000,"userId":45678,"name":"testConfig","legacyId":1,"state":"ACTIVE","adTargetingZones":[786],"responseTemplateId":1,"outputParams":{"redirectUrl":"http://redirectUrl","redirectProvider":"VAST","key":"value"},"adTargetingParams":[{"paramKey":"os","paramValue":"linux"},{"paramKey":"browser","paramValue":"chrome"}],"remarks":"remarks","isPreroll":true,"isMidroll":false,"isPostroll":false,"_links":{"self":{"href":"<requestUrl>/configs/1000000"},"configs":{"href":"<requestUrl>/configs{?page,size,sort}","templated":true}}}}}}}}},"/AccountTargetingParams":{"get":{"tags":["Targeting Param API"],"summary":"Retrieves list of targeting parameters for the account","operationId":"getAccountTargetingParams","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","schema":{"type":"integer","default":20}},{"name":"x-gw-ims-org-id","in":"header","description":"Header containing IMS Org Id","required":true,"allowEmptyValue":false,"schema":{"default":"sample@AdobeOrg"}},{"name":"x-api-key","in":"header","description":"Header containing Api Key used for authentication/authorization.","required":true,"allowEmptyValue":false,"schema":{"default":"sample_key"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"example":{"_embedded":{"AccountTargetingParams":[{"id":{"paramKey":"browser"},"_links":{"AccountTargetingParams":{"href":"<requestUrl>/AccountTargetingParams{?page,size,sort,projection}","templated":true}}},{"id":{"paramKey":"os"},"_links":{"AccountTargetingParams":{"href":"<requestUrl>/AccountTargetingParams{?page,size,sort,projection}","templated":true}}}]},"_links":{"AccountTargetingParams":{"href":"<requestUrl>/AccountTargetingParams{?page,size,sort,projection}","templated":true}},"page":{"size":20,"totalElements":2,"totalPages":1,"number":0}}}}}}}},"/users":{"get":{"tags":["User API"],"summary":"Retrieves user details for the ims-user-id in header","operationId":"getUsers","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","schema":{"type":"integer","default":20}},{"name":"x-gw-ims-org-id","in":"header","description":"Header containing IMS Org Id","required":true,"allowEmptyValue":false,"schema":{"default":"sample@AdobeOrg"}},{"name":"x-api-key","in":"header","description":"Header containing Api Key used for authentication/authorization.","required":true,"allowEmptyValue":false,"schema":{"default":"sample_key"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"example":{"_embedded":{"users":[{"userId":45678,"name":"User1","imsUserId":"BDB81D4B60AFAAD50A494117@AdobeID","state":"ACTIVE","email":"45678@email.com","userDefaultTimezone":-7.0,"admin":true,"_links":{"self":{"href":"<requestUrl>/users/45678{?projection}","templated":true},"users":{"href":"<requestUrl>/users{?page,size,sort,projection}","templated":true},"byAccountId":{"href":"<requestUrl>/users/search/byAccountId{?id,page,size,sort,projection}","templated":true}}}]},"_links":{"users":{"href":"<requestUrl>/users{?page,size,sort,projection}","templated":true}},"page":{"size":20,"totalElements":1,"totalPages":1,"number":0}}}}}}}},"/users/{id}":{"get":{"tags":["User API"],"summary":"Retrieves user details for the given ims-user-id","operationId":"getUser","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"x-gw-ims-org-id","in":"header","description":"Header containing IMS Org Id","required":true,"allowEmptyValue":false,"schema":{"default":"sample@AdobeOrg"}},{"name":"x-api-key","in":"header","description":"Header containing Api Key used for authentication/authorization.","required":true,"allowEmptyValue":false,"schema":{"default":"sample_key"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"example":{"userId":45679,"name":"User2","imsUserId":"45679","state":"ACTIVE","email":"user45679@email.com","userDefaultTimezone":-7.0,"admin":false,"_links":{"self":{"href":"<requestUrl>/users/45679{?projection}","templated":true},"users":{"href":"<requestUrl>/users{?page,size,sort,projection}","templated":true},"byAccountId":{"href":"<requestUrl>/users/search/byAccountId{?id,page,size,sort,projection}","templated":true}}}}}}}}},"/userofferings":{"get":{"tags":["User API"],"summary":"Retrieves user-offerings","operationId":"getUserOfferings","parameters":[{"name":"x-gw-ims-org-id","in":"header","description":"Header containing IMS Org Id","required":true,"allowEmptyValue":false,"schema":{"default":"sample@AdobeOrg"}},{"name":"x-api-key","in":"header","description":"Header containing Api Key used for authentication/authorization.","required":true,"allowEmptyValue":false,"schema":{"default":"sample_key"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"example":{"offerings":[{"id":"dai"}]}}}}}}},"/report":{"get":{"tags":["Report API"],"summary":"Get impression count for ad rules for given date range","operationId":"getReport","parameters":[{"name":"startDate","in":"query","required":true,"schema":{"type":"string"},"example":"2021-04-01"},{"name":"endDate","in":"query","required":true,"schema":{"type":"string"},"example":"2021-05-19"},{"name":"groupBy","in":"query","description":"Group impression count by year, month, date or ad config","schema":{"type":"string","enum":["y","m","d","ad_config_id"]}},{"name":"filters","in":"query","description":"Filter impression count by zone_id and/or ad_config_id","schema":{"type":"string"},"example":"zone_id=786,787;ad_config_id=986,987"},{"name":"unpaged","in":"query","schema":{"type":"string","enum":["true"]}},{"name":"page","in":"query","description":"Zero-based page index (0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","schema":{"type":"integer","default":20}},{"name":"x-gw-ims-org-id","in":"header","description":"Header containing IMS Org Id","required":true,"allowEmptyValue":false,"schema":{"default":"sample@AdobeOrg"}},{"name":"x-api-key","in":"header","description":"Header containing Api Key used for authentication/authorization.","required":true,"allowEmptyValue":false,"schema":{"default":"sample_key"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"example":[{"dates":"08-06-2021","total_impressions":31658926},{"dates":"08-07-2021","total_impressions":29305414}]},"text/csv":{}}}}}},"/history":{"get":{"tags":["History API"],"summary":"Retrieves modifications done over all entities ordered by recent time","operationId":"getHistory","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","schema":{"type":"integer","default":20}},{"name":"x-gw-ims-org-id","in":"header","description":"Header containing IMS Org Id","required":true,"allowEmptyValue":false,"schema":{"default":"sample@AdobeOrg"}},{"name":"x-api-key","in":"header","description":"Header containing Api Key used for authentication/authorization.","required":true,"allowEmptyValue":false,"schema":{"default":"sample_key"}}],"responses":{"200":{"description":"Success","content":{"application/json":{}}}}}},"/history/{entityType}/{entityId}":{"get":{"tags":["History API"],"summary":"Retrieves modifications done over a specific entity ordered by recent time","operationId":"getHistoryById","parameters":[{"name":"entityType","in":"path","required":true,"schema":{"type":"string"},"example":"ad-config"},{"name":"entityId","in":"path","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Zero-based page index (0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","schema":{"type":"integer","default":20}},{"name":"x-gw-ims-org-id","in":"header","description":"Header containing IMS Org Id","required":true,"allowEmptyValue":false,"schema":{"default":"sample@AdobeOrg"}},{"name":"x-api-key","in":"header","description":"Header containing Api Key used for authentication/authorization.","required":true,"allowEmptyValue":false,"schema":{"default":"sample_key"}}],"responses":{"200":{"description":"Success","content":{"application/json":{}}}}}},"/configs/search":{"get":{"tags":["Ad Rules API"],"summary":"Search configs by name","operationId":"searchConfigs","parameters":[{"name":"Query Params","in":"query","description":"Add any of the Query Params in request in key-value format | Supported Keys :\n\n `zones` - Comma separated list of zones \n\n `name` - Search Keyword \n\n{ \"zones\": \"789,790\", \"name\": \"config_name\"}","required":true,"schema":{"type":"object"}},{"name":"page","in":"query","description":"Zero-based page index (0..N)","schema":{"type":"integer","default":0}},{"name":"size","in":"query","description":"The size of the page to be returned","schema":{"type":"integer","default":20}},{"name":"x-gw-ims-org-id","in":"header","description":"Header containing IMS Org Id","required":true,"allowEmptyValue":false,"schema":{"default":"sample@AdobeOrg"}},{"name":"x-api-key","in":"header","description":"Header containing Api Key used for authentication/authorization.","required":true,"allowEmptyValue":false,"schema":{"default":"sample_key"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"example":{"_embedded":{"configs":[{"id":2298,"adConfigId":2298,"userId":45838,"name":"rulename","legacyId":null,"state":"ACTIVE","adTargetingZones":[786],"responseTemplateId":2,"outputParams":{"redirectUrl":"http://abc.com","redirectProvider":"VAST"},"adTargetingParams":[{"paramKey":"stream","paramValue":"vod"},{"paramKey":"os","paramValue":"iOS"},{"paramKey":"device","paramValue":"android"},{"paramKey":"browser","paramValue":"chrome"}],"remarks":"d","isPreroll":true,"isMidroll":false,"isPostroll":false,"_links":{"self":{"href":"<requestUrl>/configs/2298"},"configs":{"href":"<requestUrl>/configs{?page,size,sort}","templated":true}}}]},"_links":{"configs":{"href":"<requestUrl>/configs{?page,size,sort}","templated":true}},"page":{"size":20,"totalElements":1,"totalPages":1,"number":0}}}}}}}},"/configs/export":{"get":{"tags":["Ad Rules API"],"summary":"Export Ad Rules as CSV","operationId":"exportToCSV","parameters":[{"name":"Query Params","in":"query","description":"Add any of the Query Params in request in key-value format | Supported Keys :\n\n `zones` - Comma separated list of zones \n\n{ \"zones\": \"789,790\" }","required":true,"schema":{"type":"object"}},{"name":"x-gw-ims-org-id","in":"header","description":"Header containing IMS Org Id","required":true,"allowEmptyValue":false,"schema":{"default":"sample@AdobeOrg"}},{"name":"x-api-key","in":"header","description":"Header containing Api Key used for authentication/authorization.","required":true,"allowEmptyValue":false,"schema":{"default":"sample_key"}}],"responses":{"200":{"description":"Success","content":{"application/json, text/csv":{"example":"Ad-Rule Id,Ad-Rule Name,State,Remarks,browser,os,Pod Type,Zones,URL Type,Ad URL\n986,ConfigName986,ACTIVE,remarks1,chrome,Mac,\"Midroll, Postroll\",\"786, 787\",redirectUrlProvider,http://redirectUrl\n987,ConfigName987,ACTIVE,remarks1,safari,Win,Postroll,786,redirectUrlProvider,http://redirectUrl\n988,Config988,ACTIVE,remarks1,edge,Android,Postroll,787,redirectUrlProvider,http://redirectUrl\n"}}}}}},"/accounts":{"get":{"tags":["Account API"],"summary":"Retrieves account details for the org-id passed in header","operationId":"getAccount","parameters":[{"name":"x-gw-ims-org-id","in":"header","description":"Header containing IMS Org Id","required":true,"allowEmptyValue":false,"schema":{"default":"sample@AdobeOrg"}},{"name":"x-api-key","in":"header","description":"Header containing Api Key used for authentication/authorization.","required":true,"allowEmptyValue":false,"schema":{"default":"sample_key"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"example":{"accountId":12345,"name":"TestAccount","orgId":"49B92EC3606453D80A494004@AdobeOrg","crsEnabled":true,"state":"ACTIVE","defaultTimezone":-7.0,"_links":{"self":{"href":"<requestUrl>/accounts/12345"},"accounts":{"href":"<requestUrl>/accounts{?page,size,sort}","templated":true},"findByOrgId":{"href":"<requestUrl>/accounts/search/findByOrgId"}}}}}}}}}},"components":{"schemas":{"ZoneRequestDto":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"state":{"type":"string"}}},"AdTargetingParamsDto":{"type":"object","properties":{"paramKey":{"type":"string"},"paramValue":{"type":"string"}}},"ConfigRequestDto":{"type":"object","properties":{"name":{"type":"string","description":"Name of the config"},"state":{"type":"string","description":"ACTIVE/INACTIVE","enum":["ACTIVE","INACTIVE"]},"responseTemplateId":{"type":"integer","description":"Set this to 1 for v1.4 template | Set this to 2 for v1.5 template","format":"int32","enum":[1,2]},"outputParams":{"$ref":"#/components/schemas/OutputParamsDto"},"adTargetingParams":{"uniqueItems":true,"type":"array","items":{"$ref":"#/components/schemas/AdTargetingParamsDto"}},"adTargetingZones":{"uniqueItems":true,"type":"array","items":{"type":"integer","format":"int32"}},"remarks":{"type":"string"},"isPreroll":{"type":"boolean"},"isMidroll":{"type":"boolean"},"isPostroll":{"type":"boolean"}}},"OutputParamsDto":{"type":"object","properties":{"redirectUrl":{"type":"string"},"redirectProvider":{"type":"string","enum":["VMAP","VAST"]},"additionalProperties":{"type":"object","additionalProperties":{"type":"string"},"writeOnly":true}}},"AccountTargetingParamDto":{"type":"object","properties":{"orgId":{"type":"string"},"paramKey":{"type":"string"}}}},"securitySchemes":{"BearerToken":{"type":"http","description":"Enter your API token below. Visit [our documentation page](https://developer.adobe.com/developer-console/docs/guides/authentication/ServiceAccountIntegration/) for instructions on how to get an API token.","scheme":"bearer","bearerFormat":"JWT"}}}}
